.App {
  text-align: center;
  margin-top: 10%;
}

.topDiv{
  margin-top: 55px;
  text-align: center;
  background-color: lightseagreen;
}

.projectDiv{
  margin-top: 10px;
  text-align: center;
  background-color: lightseagreen;
}

.aboutDiv{
  margin-top: 10px;
  background-color: white;
}
.contactDiv{
  margin-top: 10px;
  background-color: white;
}
.custom-mid{
  text-align: center;
}

.custom-pad{
  padding-left: 5%;
}

.custom{
  margin-top: 55px;
}

.border {
  border: 10px solid #fff !important;
}

.white{
  color: #fff;

}