.App {
  text-align: center;
  margin-top: 10%;
}

.topDiv{
  margin-top: 55px;
  text-align: center;
  background-color: lightseagreen;
}

.projectDiv{
  margin-top: 25px;
  background-color: lightseagreen;
}


.aboutDiv{
  margin-top: 25px;
  background-color: white;
}
.contactDiv{
  margin-top: 25px;
  background-color: white;
}
.custom-mid{
  text-align: center;
}

.custom-pad{
  margin-left: 5%;
  align-content: center;
}

.custom{
  margin-top: 30px;
}

.custom-star{
  display: flex;
  justify-content: center;
}
.custom-icon{
  position: relative;
}
.custom-line-top{
  width: 50vh;
  position: relative;
  margin: 15px;
  border: 2px solid white;
  border-radius: 5px;
}
.custom-line-dark{
  width: 22vh;
  position: relative;
  margin: 15px;
  border: 2px solid #2c3e50;
  border-radius: 5px;
}
.custom-line-light{
  width: 22vh;
  position: relative;
  margin: 15px;
  border: 2px solid white;
  border-radius: 5px;
}

.border {
  border: 10px solid #fff !important;
}

.custom-color-white{
  color: #fff;
}

.custom-color-blue{
  color:#2c3e50;
}

.custom-btn-green{
  background-color: lightseagreen;
  border-color: lightseagreen;
}
.custom-btn-green:not(:disabled):not(.disabled):active, .custom-btn-green:not(:disabled):not(.disabled).active, .show > .custom-btn-green.dropdown-toggle, .custom-btn-green:not(:disabled):not(.disabled):hover, .custom-btn-green:not(:disabled):not(.disabled):focus {
  color: #fff;
  background-color:darkcyan;
  border-color: darkcyan;
  box-shadow: 0 0 0 0.2rem lightseagreen;
}

.custom-btn-green:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.bottomDiv{
  margin-bottom: 30px;
  margin-top: 20px;
}

.response{
  border: 1px solid #2c3e50;
  border-radius: 5px;
  background-color: lightseagreen;
  text-align: center;
  height: 30px;
}
